body {
    font-family:Arial;
    background-color: #211a908a;
}

.bigname {
    color: rgb(181, 35, 13);
    position: absolute;
    top:35%;
    left: 54%;
    margin-left: -200px;
    margin-top: -35px;
    font-size: 50px;
    
}
input[type="number"] {
    padding: 5px;
    margin-right: 5px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}


.main-content {
    background-color: #191919;
    width: 700px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(246, 242, 242);
    
}

.bottom-section {  
    color: rgba(1, 4, 4, 0.689);
    font-size: 20px;
}
.content h1 {
    text-transform: uppercase;
}
